*{
    margin: 0;
    padding: 0;
}


body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: cursive;
    font-weight: bold;
    background-image: url(/white-background-images-for-website-white-wallpapers-hd-2014-onlybackground-image.png);

}




   
nav{

    box-shadow: 3px 3px 5px rgb(rgb(38, 38, 38), green, blue);
}


nav ul{
    width: 100;
    list-style: none;
    display: flex;
    justify-content: flex-end ;
}

nav li{
    height: 50px;

}

nav a{
    height: 100%;
    padding: 30px 50px;
    text-decoration: none;
    display: flex;
    color: black;

    transition-property: transform;
    transition-duration: 0.3s  ;
    transition-timing-function: ease;
    transition-delay: 0s;


}

nav a:hover{
    transform: translateY(-10px);
}

nav li:first-child{
margin-right: auto;

}
