*{
    margin: 0;
    padding: 0;
}


body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: cursive;
    font-weight: bold;
    background-image: url(/32582946_rrt8.jpg);

}
  
nav{

    box-shadow: 3px 3px 5px rgb(rgb(38, 38, 38), green, blue);
}


nav ul{
    width: 100;
    list-style: none;
    display: flex;
    justify-content: flex-end ;
}

nav li{
    height: 50px;

}

nav a{
    height: 100%;
    padding: 30px 50px;
    text-decoration: none;
    display: flex;
    color: black;

    transition-property: transform;
    transition-duration: 0.3s  ;
    transition-timing-function: ease;
    transition-delay: 0s;


}

nav a:hover{
    transform: translateY(-10px);
}

nav li:first-child{
margin-right: auto;

}


#one{
    position: fixed;
    font-size: 20px;
    margin-left: 20% ;
    top: 35%;
    color: rgb(0, 0, 0);
    
    

}

#one1{

    position: fixed;
    font-size: 150px;
    margin-left: 19%;
    top: 40%;
    color: rgb(159, 42, 138);
}

#one1:hover{

    transform: translateY(-10px);
}


#two{
    position: fixed;
    font-size: 20px;
    margin-left: 40% ;
    top: 35%;


}

#two2{

    position: fixed;
    font-size: 150px;
    margin-left: 38%;
    top: 40%;
    color: rgb(0, 0, 0);
}

#two2:hover{

    transform: translateY(-10px);
}


#three3{

    position: fixed;
    font-size: 150px;
    margin-left: 58%;
    top: 40%;
    color: rgb(89, 49, 137);
}

#three3:hover{

    transform: translateY(-10px);
}



#three{
    position: fixed;
    font-size: 20px;
    margin-left: 60% ;
    top: 35%;

}



#four{
    position: fixed;
    font-size: 20px;
    margin-left: 80% ;
    top: 35%;

}



#four4{

    position: fixed;
    font-size: 150px;
    margin-left: 78%;
    top: 40%;
    color: rgb(39, 181, 27);
}

#four4:hover{

    transform: translateY(-10px);
}


