*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #DCE2F0;
    color: #50586C;

}


header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 5rem;
    color:#50586C ;
    font-weight: 800 ;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1) ;
}

nav a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
    nav a.active{
        color: #50586C;
        border-bottom: 3px solid #50586C;
    }


 

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid  #50586C;
        border-bottom: 3px solid  #50586C;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #DCE2F0;
        border-top: 0.1rem solid #DCE2F0 ;
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #50586C;

    }

}  


#Headers{
    font-size: 4rem;
    color:#50586C ;
    font-weight: 1500 ;
    cursor: pointer;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
}

#Headers:hover{
    transform: scale(1.1) ;
}

.Journey p{
    display: flexbox;
    border: #50586C solid 0.1rem;
    background-color: #d2d9eb;
    border-radius: 5rem;
    padding: 3rem ;
    margin: 4rem 10rem 4rem;
    font-size: 2.5rem;
    transition: transform 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

.Journey a{
    color: #50586C ;
    border-bottom: 0.5rem solid #50586C;
}

.Journey img{
    display: inline-block;
    margin: 10% 12% 0 ;
    border: #50586C solid 0.5rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#img1{
    width: 35rem;
    height: 60rem;
    transition: transform 0.5s ease;

}
#img2{
    width: 60rem;
    height: 35rem;
    margin-bottom: 4rem;
    transition: transform 0.5s ease;
}

.Journey img:hover{
    transform: scale(1.05) ;
}

.Journey p:hover{
    transform: scale(1.05) ;
}


.video{
    display: block;
    margin: 0 auto;
    margin-top: 25rem;
    border: #50586C solid 0.5rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 700px;
    transition: transform 0.5s ease;

}

.video:hover{
    transform: scale(1.1);
}