*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Merriweather", serif;
    margin-bottom: 5rem;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #C5C6C7;
    color: #000000;
}


header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 5rem;
    color:#000000 ;
    font-weight: 800 ;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1) ;
}

nav a{
    font-size: 1.8rem;
    color: black;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
    nav a.active{
        color: #856404;
        border-bottom: 3px solid #856404;
    }


 

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid  #000000;
        border-bottom: 3px solid  #000000;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #C5C6C7;
        border-top: 0.1rem solid #C5C6C7 ;
    }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active{
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #856404;

    }

}  


#Headers{
    font-size: 4rem;
    color: #856404;
    font-weight: 1500 ;
    cursor: pointer;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
    margin-bottom: 5rem;
}

#Headers:hover{
    transform: scale(1.1) ;
}

.Journey p{
    font-size: 3rem;
    margin-right: 10rem;
    margin-left: 10rem;
}

.Journey img{
    position: relative;

}

.Journey a{
    color: #856404; ; 
}


#img1{
    width: 35rem;
    height: 60rem;
    float: left;
    margin: 0 10rem 0 10rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 25px;




}
#img2{
    width: 90rem;
    height: 55rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 25px;
    margin-top: 5rem;
    right: 0;
}




.video{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 700px;
    float: right;
    margin: 0 10rem 0 10rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 25px;


}

