*{
    margin: 0;
    padding: 0;
}


body{
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: cursive;
    font-weight: bold;
    background-image: url(/32582946_rrt8.jpg);

}




   
nav{

    box-shadow: 3px 3px 5px rgb(rgb(38, 38, 38), green, blue);
}


nav ul{
    width: 100;
    list-style: none;
    display: flex;
    justify-content: flex-end ;
}

nav li{
    height: 50px;

}

nav a{
    height: 100%;
    padding: 30px 50px;
    text-decoration: none;
    display: flex;
    color: black;

    transition-property: transform;
    transition-duration: 0.3s  ;
    transition-timing-function: ease;
    transition-delay: 0s;


}

nav a:hover{
    transform: translateY(-10px);
}

nav li:first-child{
margin-right: auto;

}

#B06{
    margin-top: 10%;
    margin-left: 10%;
    border-radius: 20px;
    transition-property: transform;
    transition-duration: 0.3s  ;
    transition-timing-function: ease;
    transition-delay: 0s;
    animation-name: slideUp;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: running;
    

}  

#B06:hover{
    transform: translateY(-70px);
}

.description{
    display: flex;
    margin-top: 10%;
    margin-left: 60%;
    position: absolute;
    

}



#one {
    font-family: monospace;
    font-size: 1.5rem;
    margin-inline: auto;
    overflow: hidden;
    animation-duration: 2s;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 2s steps(23) forwards, 
               blink 1s step-end infinite;
}




#two{

    visibility: hidden; 
    font-family: monospace;
    font-size: 1.5rem;
    margin-inline:auto;
    overflow: hidden;
    margin-top: 10%;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 2s steps(23) forwards, blink 1s step-end infinite;
    animation-delay: 2s;

}

#three{

    visibility: hidden; 
    font-family: monospace;
    font-size: 1.5rem;
    margin-inline:auto;
    overflow: hidden;
    margin-top: 10%;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 2s steps(23) forwards, blink 1s step-end infinite;
    animation-delay: 4s;

}

#four{

    visibility: hidden; 
    font-family: monospace;
    font-size: 1.5rem;
    margin-inline:auto;
    overflow: hidden;
    margin-top: 10%;
    white-space: nowrap;
    border-right: 1px solid;
    animation: typing 2s steps(23) forwards, 
    blink 1s step-end infinite;
    animation-delay: 6s;

}








@keyframes slideUp{
    from{transform: translateY(300%);
        transform: translateX(50%);}
}

@keyframes slideDown{
    to{transform: translateY(300%);
        transform: translateX(50%)}
}

@keyframes typing {
    from {
        width: 0;
        visibility: visible;
    }

    to {
        width: 100%;
        visibility: visible;
    }
}


