
body {
    font-family: 'Protest Revolution', sans-serif;
    background: linear-gradient(to top, rgb(184, 136, 236), rgb(107, 1, 199));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 20px;

}


#box{
    text-align: center;
    border: 4px solid;
    margin-top: 200px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px 20px;
}


.btns{


    font-family: 'Protest Revolution', sans-serif;
    font-size: 20px;

    background-color: blueviolet;
    border-radius: 20px;
    text-transform: capitalize;
    padding: 10px 10px;
    margin-top: 50px;
    transition: backgorund-color 0.5s ease;
    padding: 20px 20px;
    margin-left: 38%;






}


.btns:hover{

    background-color: hsl(271, 100%, 60%)

}



#btn2{
    margin-left: 5px;
}
